.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--bg-dark);
  margin-left: 260px; /* Sidebar width */
}

.auth-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top right, #312e81, #0f172a);
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
